@import 'bootstrap';

body {
  background: #ccc;
}

html, body, .container-table {
  height: 100%;
}

.container-table {
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.navbar-counter {
  left: 0;
  margin: 15px auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

.navbar-toggle {
  z-index: 3;
}

.add-new-button {
  margin-left: 15px;
}


.navbar-toggle-always {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  .navbar-toggle-always {
    display: block!important;
    background-color: transparent;
    border: 1px solid #333333;
  }
}